<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT storeFront ANY>
<!ATTLIST storeFront id ID #REQUIRED>

]>
<root id="-1">
  <storeFront id="1062" key="3585c468-12b9-4d4f-82fb-1c6af1b6cece" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-05-05T16:41:43" updateDate="2016-05-05T17:01:35" nodeName="Home" urlName="home" path="-1,1062" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="storeFront">
    <storeName><![CDATA[Merchello Example Store]]></storeName>
  </storeFront>
</root>