<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="merchello">
            <section name="merchelloSettings" type="Merchello.Core.Configuration.Sections.MerchelloSettingsSection, Merchello.Core" requirePermission="false" />
            <section name="merchelloExtensibility" type="Merchello.Core.Configuration.Sections.MerchelloExtensibilitySection, Merchello.Core" requirePermission="false" />
            <section name="merchelloCountries" type="Merchello.Core.Configuration.Sections.MerchelloCountriesSection, Merchello.Core" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <merchello>
        <merchelloSettings configSource="merchelloSettings.config" />
        <merchelloExtensibility configSource="merchelloExtensibility.config" />
        <merchelloCountries configSource="merchelloCountries.config" />
    </merchello>

</configuration>